

h1,h2,h3,h4,h5,h6{
    font-family: "Rubik", serif;
    font-weight: 400;
}

p{
    font-family: "Quicksand", serif;
    font-weight: 500;
    line-height: 1.8;
}

.margin-b{
    margin-bottom: 130px;
}


/* ---------------------------------------- section-1 start ---------------------------------------- */
.body-img{
    background-image: url(img/body-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-a a{
    font-family: "Quicksand", serif;
    font-size: 16px;
    font-weight: 600;
}

.header{
    padding-top: 170px;
}

.nav-bg{
    background-color: white;
}

.navbar-a a:hover{
    text-decoration: underline;
    color: black;
}

.banner-content h3{
    font-size: 40px;
    margin-bottom: 20px;
    position: relative;
}

.banner-content h3::after{
    content: "";
    width: 200px;
    height: 2px;
    position: absolute;
    background: #000000;
    top: 50%;
    left: 20%;
}

.banner-content h1{
    font-size: 70px;
    line-height: 60px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.banner-content h5{
    font-size: 24px;
    margin-bottom: 35px;
}

.button-1{
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee) !important;
    border: 2px solid transparent !important;
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3) !important;
    color: white !important;
    font-family: "Quicksand", serif !important;
    line-height: 35px !important;
    width: 150px !important;
}
.button-1:hover{
    border: 2px solid #854fee !important;
    color: #222222 !important;
    box-shadow: none !important;
    background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #4458dc, #854fee) !important;
    font-weight: 500 !important;
}
/* ---------------------------------------- section-1 end ---------------------------------------- */





/* ---------------------------------------- my-self start ---------------------------------------- */
.my-self h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 50px;
}
/* ---------------------------------------- my-self end ---------------------------------------- */





/* ---------------------------------------- my-services start ---------------------------------------- */
.service-item{
    padding: 45px 25px;
    background: #f9f9fd;
    transition: all 0.5s;
}
.service-item:hover{
    background: #fff;
    box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
}
/* ---------------------------------------- my-services end ---------------------------------------- */





/* ---------------------------------------- my-skills start ---------------------------------------- */
.my-skills{
    padding: 25px 15px;
    background: #f9f9fd;
    transition: all 0.5s;
}
.my-skills:hover{
    background: #fff;
    box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
}
/* ---------------------------------------- my-skills end ---------------------------------------- */





/* ---------------------------------------- projects start ---------------------------------------- */
.project-img{
    position: relative;
}
.project-img img{
    border-radius: 30px;
}
.visit{
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    padding: 20px;
    /* border-top-left-radius: 20px; */
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}
.visit a{
    text-decoration: none;
    font-family: "Quicksand", serif;
    color: black;
    font-weight: 500;
    border-radius: 40px;
    /* border: 1px solid black; */
    background-color: #ececf7;
}
/* ---------------------------------------- projects end ---------------------------------------- */





/* ---------------------------------------- contact start ---------------------------------------- */
.contact-bg{
    background-image: url(img/contact-bg.png);
    padding: 60px 150px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.send{
    background-color: white !important;
    color: black;
    width: 20% !important;
    font-size: 17px !important;
    font-family: "Quicksand", serif !important;
    height: 50px !important;
    border: 2px solid black !important;
}
.send:hover{
    box-shadow: rgba(39, 39, 39, 0.25) 0px 14px 28px, rgba(31, 31, 31, 0.22) 0px 10px 10px;
}
/* ---------------------------------------- contact end ---------------------------------------- */